{% extends 'Todo/base.html' %}

{% block main %}
    <div id="main">
        <main class="fixed-width">
            <div class="container">
                <div class="form">
                    <div id="password">
                        <form method="POST">
                            <legend>Change password</legend>
                            <div class="input-group" error='true'>
                                <label>Old password</label>
                                <div class="input">
                                    <input type="password" name="password">
                                    <span class="eye"><i class="fas fa-eye-slash"></i></span>
                                    <small>The password is not correct</small>
                                </div>
                            </div>
                            <div class="input-group" error=''>
                                <label>New password</label>
                                <div class="input">
                                    <input type="password" name="password">
                                    <span class="eye"><i class="fas fa-eye-slash"></i></span>
                                    <small>The password is not correct</small>
                                </div>
                            </div>
                            <div class="input-group" error=''>
                                <label>Confirm password</label>
                                <div class="input">
                                    <input type="password" name="password">
                                    <span class="eye"><i class="fas fa-eye-slash"></i></span>
                                    <small>The password is not correct</small>
                                </div>
                            </div>
                            <button class="btn">Continue</button>
                            <a href="#">Forget password  <i class="fas fa-question-circle"></i></a>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}