{% extends 'Todo/base.html' %}
{% block main %}
    <div id="main">
        <main class="fixed-width">
            <div class="container">
                <div class="form">
                    <div id="password">
                        <form method="POST">
                            <legend>Password Reset Success</legend>
                            <p>Your password has been successfully changed, now <a href="{% url 'authentication' 'login' %}">login</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}