
<!DOCTYPE html>
<html>
<head>
    <title>My Form</title>
</head>
<body>
    <div id="main" class="res">
        <main class="fixed-width">
            <div class="container">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <button>Submit</button>
                </form>
            </div>
            <div>
                {% for user in object_list %}
                    <ul>
                        <li>{{ user.salutation }}</li>
                        <li>{{ user.name }}</li>
                        <li>{{ user.email }}</li>
                        <li>
                            <img src="{{ user.headshot.url }}">
                        </li>
                    </ul>
                {% endfor %}
            </div>
        </main>
    </div>
</body>
</html>