{% extends 'base.html' %}
{% block style %}
    <style type="text/css">
        .fixed-width, .container{
            display: grid;
            place-items: center;
        }
    </style>
{% endblock %}
{% block main %}
    <div id="main">
        <main class="fixed-width">
            <div class="container">
                <div id="auth">
                    <div class="login">
                        <span class="mover" onclick="$('#auth').slick('slickNext')">Register</span>
                        <form method="POST">
                            <legend>Login</legend>
                            <div class="input-group">
                                <label>Username</label>
                                <div class="input">
                                    <span class="fas fa-user"></span>
                                    <input type="text" name="name">
                                </div>
                            </div>
                            <div class="input-group">
                                <label>Password</label>
                                <div class="input">
                                    <span class="fas fa-lock"></span>
                                    <input type="password" name="password">
                                </div>
                            </div>
                            <button class="btn">Sign In</button>
                            <a href="#">Forget password  <i class="fas fa-question-circle"></i></a>
                        </form> 
                    </div>
                    <div class="signup">
                        <span class="mover" onclick="$('#auth').slick('slickPrev')">Login</span>
                        <form method="POST">
                            <legend>Register</legend>
                            <div class="input-group">
                                <label>Email</label>
                                <div class="input">
                                    <span class="fas fa-user"></span>
                                    <input type="text" name="email">
                                </div>
                            </div>
                            <div class="input-group">
                                <label>Username</label>
                                <div class="input">
                                    <span class="fas fa-user"></span>
                                    <input type="text" name="name">
                                </div>
                            </div>
                            <div class="input-group">
                                <label>Password</label>
                                <div class="input">
                                    <span class="fas fa-lock"></span>
                                    <input type="password" name="password">
                                </div>
                            </div>
                            <button class="btn">Sign Up</button>
                        </form> 
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}